.btn {
    padding: 14px 20px;
    color: $white!important;
    border-radius: $border-radius-input;
    text-transform: uppercase;
    text-decoration: none!important;
    transition: 0.3s all;
    font-weight: 900;
    font-size: 1.4rem;
    line-height: 1.1em;
    border: none; 
    
    &:focus {
         outline: none;
    }

    &__yellow {
        background-color: $yellow;
        border: 1px solid $yellow;

        &:hover {
        background-color: $blue; 
        }
    }

    &__white {
        color: $dark!important;
        background-color: $gray-bg;

        &:hover {
            background-color: $gray-200;
        }
    }

    &__transparent {
        background: none;
        border: 1px solid $yellow;

        &--black {
            color: $text!important;
        }


        &:hover {
            background-color: $blue; 
            border: 1px solid $yellow;

        }
    }

    &__blue {
        background-color: $blue;
        border: 1px solid $blue;

        &:hover {
            background-color: $blue-hover;
            border: 1px solid $yellow;

        }
    }

    &__violet {
        background-color: $violet;

        &:hover {
            background-color: $blue-hover;
        }
    }
}

.badge {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 900;
    line-height: 1em;
    padding: 5px 10px;
    color: $white;
    border-radius: 28px;
    
    &__green {
          background-color: $green;
    }

    &__blue {
        background-color: $blue;
    }

    &__red {
        background-color: $red;
    }

    &__gray {
        background-color: $gray-badge;
        color: $text;
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
            padding-right: 8px;
        }

    }
 }

 .btn-small {
    padding: 10px 20px;
    border-radius: 28px;
    font-size: 1.4rem;
    line-height: 1em;
    font-weight: 900;
    color: $white!important;
    text-decoration: none!important;
    
    &__red {
        background-color: $red;
    }

    &__green {
        background-color: $green;
    }

    &__green2 {
        background: $green2;
    }

    &__blue {
        background-color: $blue;
    }

    &__violet2 {
        background-color: $violet2;
    }

    &__gray {
        background-color: $gray-badge;
        color: $gray-800!important;
    }

    &:hover {
        background-color: $yellow;
    }
 }

 .slick-arroww {
    width: 46px;
    height: 46px;
    border-radius: 100%;
    background-color: #ffffff;
    border: 1px solid #E5B354; 
    position: relative;
    font-weight: 900;
    display: block;
    z-index: 2;
    color: #222222 !important;
    font-family: "Font Awesome 6 Free" !important;

    &:before {
        position: absolute;
        top: 0;    top: 11px;
        left: 17px;
        color: #222222;
        font-family: "Font Awesome 6 Free";
    }

    &.slick-next  {
        
        right: 0;

        &:before {
            content: "\f105";
        }
    }

    &.slick-prev:before {
        content: "\f053";
    }
 }