.btn {
    padding: 14px 20px;
    color: $white!important;
    border-radius: $border-radius-input;
    text-transform: uppercase;
    text-decoration: none!important;
    transition: 0.3s all;
    font-weight: 900;
    font-size: 1.4rem;
    line-height: 1.1em;
    border: none; 
    
    &:focus {
         outline: none;
    }

    &__yellow {
        background-color: $yellow;

        &:hover {
        background-color: $yellow-hover;
        }
    }

    &__white {
        color: $dark!important;
        background-color: $gray-bg;

        &:hover {
            background-color: $gray-200;
        }
    }

    &__transparent {
        background: none;
        border: 2px solid $yellow;

        &--black {
            color: $text!important;
        }


        &:hover {
            background-color: $yellow-hover;
            border-color: $yellow-hover;
        }
    }

    &__blue {
        background-color: $blue;

        &:hover {
            background-color: $blue-hover;
        }
    }

    &__violet {
        background-color: $violet;

        &:hover {
            background-color: $blue-hover;
        }
    }
}

.badge {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 900;
    line-height: 1em;
    padding: 5px 10px;
    color: $white;
    border-radius: 28px;
    
    &__green {
          background-color: $green;
    }

    &__blue {
        background-color: $blue;
    }

    &__red {
        background-color: $red;
    }

    &__gray {
        background-color: $gray-badge;
        color: $text;
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
            padding-right: 8px;
        }

    }
 }