$bcb-background-color: #FFFFFF !default;
$bcb-text-color: #000000 !default;
$bcb-primary-color: #132E9F !default;
$bcb-secondary-color: #ced4d6 !default;
$bcb-backdrop-color: #000000CC !default;
$bcb-screen-xs-min: 768px !default;

.CookieBar {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: flex-end;
  display: none; 
  font-size: 14px;
  color: $bcb-text-color;
  z-index: 999999;

  &-Window {
      position: relative;
      z-index: 2;
      padding: 20px 10px;
      width: 100%;
      background-color: $bcb-background-color;
      box-shadow: 0 -2px 5px 1px rgb(0 0 0 / 30%);
      &--base {
          display: flex;
          flex-direction: column;
          align-items: center;
      }
      &--settings {
          display: none;
      }
  }
  &-Text {
      text-align: center;
      font-size: 16px;
      &--title {
          font-weight: 700;
          font-size: 18px;
          margin: 0 0 15px;
      }
      &--subtitle {
          margin: 0 0 15px;
      }
      &--link {
          color: $bcb-primary-color;
          margin: 0 0 15px;
          text-decoration: none;
          cursor: pointer;
          &:hover {
              text-decoration: underline;
          }
      }
  }
  &-NavGroup {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  &-Button {
      border: 0;
      padding: 15px;
      font-size: 14px;
      cursor: pointer;
      background-color: $bcb-primary-color;
      color: $bcb-background-color;
      font-weight: 600;
      margin: 10px 0 25px;
      &:hover {
          background-color: $bcb-primary-color;
      }
  }
  &-OptionGroup {
      margin: 0 auto 10px;
      max-width: 900px;
  }
  &-Option {
      margin-bottom: 5px;
  }
  &-OptionLabel {
      position: relative;
      padding-left: 26px;
      font-size: 16px;
      &:before, &:after {
          content: "";
          position: absolute;
          width: 12px;
          height: 12px;
      }
      &:before {
          border: 1px solid $bcb-text-color;
          background-color: $bcb-secondary-color;
          left: 0;
          top: 0;
          padding: 3px;

  box-sizing: content-box;
      }
  }
  &-Checkbox {
      display: none;
  }
  &-Checkbox:checked + &-OptionLabel {
      &:before {
          background-color: $bcb-primary-color;
      }
      &:after {
          background-color: $bcb-background-color;
          left: 4px;
          top: 4px;
          clip-path: polygon(10% 51%, 0 65%, 50% 100%, 100% 16%, 86% 6%, 46% 75%);
      }
  }
  &-OptionHeader {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
  }
  &-ShowHide {
      color: $bcb-primary-color;
      font-size: 14px;
      cursor: pointer;
      &:after {
          content: "";
          display: inline-block;
          background-color: $bcb-text-color;
          margin-left: 4px;
          width: 10px;
          height: 10px;
      }
      &--show {
          display: block;
          &:after {
              clip-path: polygon(0 30%, 50% 70%, 100% 30%, 100% 60%, 50% 100%, 0 60%);
          }
      }
      &--hide {
          display: none;
          &:after {
              clip-path: polygon(0 55%, 50% 20%, 100% 55%, 100% 80%, 50% 45%, 0 80%);
          }
      }
  }
  &-optionContent {
      max-height: 0;
      overflow: hidden;
      margin: 15px 0 0;
      line-height: 1.4;
      font-size: 0.8rem;
      transition: max-height 200ms ease-out;
  }
  &-OptionInfo {
      display: none;
  }
  &-Option--isOpen {
      .CookieBar-optionContent {
          max-height: 200px;
      }
      .CookieBar-ShowHide {
          &--hide {
              display: block;
          }
          &--show {
              display: none;
          }
      }
  }
  &-Option--readOnly {
      .CookieBar-OptionHeader {
          cursor: not-allowed;
      }
      .CookieBar-OptionLabel {
          pointer-events: none;
          &:before {
              opacity: 0.5;
          }
      }
  }
  @media (min-width: $bcb-screen-xs-min) {
      &-NavGroup--inline {
          display: flex;
          flex-direction: row;
          align-items: baseline;
          > * {
              margin-left: 20px;
              margin-right: 20px;
          }
      }
      &-OptionGroup {
          display: flex;
      }
      &-Option {
          flex: 1;
      }
      &-OptionHeader {
          display: block;
      }
      &-ShowHide {
          margin: 3px 0 0 27px;
      }
      &-optionContent {
          display: none;
      }
      &-OptionInfo {
          display: block;
          max-width: 900px;
          margin: 0 auto 20px;
      }
  }

  &--overlay {
      top: 0;
      .CookieBar-backdrop {
          position: absolute;
          z-index: 1;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: $bcb-backdrop-color;
      }
  }
  &--isOpen {
      display: flex;
  }
  &--showSettings {
      .CookieBar-Window {
          &--base {
              display: none;
          }
          &--settings {
              display: block;
          }
      }
  }
}
