.cookies-content {
  background-color: $secondary;
  bottom: 0;
  height: auto;
  position: fixed;
  width: 100%;
  z-index: 9999;

  .container {
    align-items: center;
    color: theme-color('');
    display: flex;
    font-size: 1.4rem;
    justify-content: center;
    padding: 15px;

    p {
      color: $white;
      margin-bottom: 0;
    }

    a {
      color: $white;
      font-weight: bold;
      padding: 0 3px;
    }

    @media(max-width: 767px){
      flex-direction: column;

      p {
        text-align: center;
      }

      button {
        margin-top: 10px;
        padding: 6px 30px;
      }
    }
  }
}

.cookies {
  &__link {
    &::before {
      background-color: theme-color('bg-white');
    }
  }
}

