.header {
    min-height: 80px;
    display: flex;
    align-items: center;

    @include media-breakpoint-up(lg) {
        min-height: 100px;
   
    }

    .navbar-brand {
        img {
            width: 170px;

            @include media-breakpoint-down(md) {
                width: 120px;
            }
        }
    }

    .dropdown-menu {
        padding: 0;
        overflow: hidden;
        
        .dropdown-item {
            transition: 0.3s all;
            
            &:hover {
                color: #fff;
                background-color: $blue;
            }
        }
    }
    
    
    .navbar-nav {
        list-style: none;
        
        li {
            a {
                padding: 12px!important;
                font-size: 14px;
                color: $dark;
                font-weight: 600;
                
                &:hover {
                    font-weight: bold;
                }
            }
        }

    }

    .social {
        display: flex;
        justify-content: center;
        align-items: center;

        &>a {
            margin: 7px;
        }

        .dropdown {
            margin-left: 10px;
        }
    }


    
    .switcher  {
  
        font-family: Nunito, sans-serif;
        width: 130px;

        .selected {
            color: #222222 !important;
            background-color: #F5F5F5;
            border-radius: 69px;
            
            a {
                border: none;
                
                text-transform: uppercase;
                text-decoration: none !important;
                transition: 0.3s all;
                font-weight: 900;
                font-size: 1.4rem;
                display: flex;
                align-items: center;
                
                img {
                    margin-right: 10px;
                }
            }
        }

        .option {
            border: none;
        }
    }
}