.item-trip {
    padding: 20px;
    border-radius: 16px;
    color: $text;
    margin-bottom: 30px;
    display: block;
    transition: 0.3s all;

    &__head {
        margin-bottom: 8px;

        h3 {
            margin-bottom: 0;
        }
    }

    h3 {
        color: $text;
        line-height: 1.1em;
    }

    p {
        margin-bottom: 12px;
        font-size: 1.4rem;
        font-weight: 400;;
    }

    a {
    
    }

    .price {
        margin-bottom: 20px;
    }

    img {
        width: 100%;
        height: 145px;
        border-radius: 16px;
        object-fit: cover;
    }
 
    &:hover {
        background-color: $heading-bg!important;
        text-decoration: none!important;

        h3,span,h3 {
            text-decoration: none!important;
        }
    }
}


.item-blog {
    padding: 15px;
    border-radius: 16px;
    margin-bottom: 25px;
    transition: 0.3s all;
    text-decoration: none!important;
    
    img {
        border-radius: 16px;
        height: 100%;
        object-fit: cover;
    }  

    h4 {
        font-size: 1.8rem;
        margin-bottom: 12px;;
    }

    p {
       margin-bottom: 12px;
       font-weight: 400;; 
       text-decoration: none!important;
    }

    span {
       font-weight: 400;; 
       text-decoration: none!important;
    }

    &:hover {
        background-color: $gray-bg;
    }

    @include media-breakpoint-down(md) {
        img {
            width: 100%;
            margin-bottom: 17px;
        }
    }

    &:last-child {
        margin-bottom: 0;;
    }
}

.item-heading {
 

    &__wrap { 
        padding: 0;
        &:after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            background-color: $heading-bg; 
            border-bottom-left-radius: 0px;
            border-top-left-radius: 21px;
            border-top-right-radius: 21px ;

            @include media-breakpoint-up(md) {

                border-bottom-left-radius: 21px;
                 border-top-right-radius: 0px ;
                 border-top-left-radius: 21px;
            }
        }
    }
    
    &__content {
        background-image: url('../../images/ornament.svg');
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        z-index: 2;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 21px;
        border-top-right-radius: 21px ;

        flex-direction: column;
        text-align: left;
        height: 100%;

        &.yellow {
            background-color: $yellow-light;
        }

        @include media-breakpoint-up(lg) {
            padding: 80px;

        }

        @include media-breakpoint-up(md) {
            border-bottom-left-radius: 21px;
             border-top-right-radius: 0px ;
             border-top-left-radius: 21px;
        }
    }

    &__img {
        padding: 0;

        img {
            border-bottom-right-radius: 21px;
            border-bottom-left-radius: 21px;
            border-top-right-radius: 0;
        }

        @include media-breakpoint-up(md) {
            img {
                height: 100%;
                object-fit: cover;
                border-bottom-right-radius: 21px;
                border-bottom-left-radius: 0;
                border-top-right-radius: 21px;
            }
                padding-left: 0;
        }
    }
}

.item-inspiration {
    padding: 16px;
    border-radius: 20px;
    transition: 0.3s all;
    display: block;
    margin-bottom: 60px;
    text-decoration: none!important;
    img {
        width: 100%;
        // height: 40%;
        height: 145px;
        object-fit: cover;
        border-radius: 16px;
        margin-bottom: 25px;
    }

    h3 {
        font-size: 1.6rem;
        margin-bottom: 12px;
        color: $text;
        
        @include media-breakpoint-up(md) {
        margin-bottom: 8px;
        min-height: 44px;
        }
    }

    span {
        font-weight: 400;
        font-size: 1.4rem;
    }

    &:hover {
        background-color: $heading-bg;
    }
} 