.blog {
    .item-trip {
        background: none;
        margin-bottom: 55px;
        padding: 0px;
        
        @include media-breakpoint-up(lg) {
            
            padding: 20px;
            margin-bottom: 100px;
        }
    }

    .for-you {
        margin-top: -30px;
        
        @include media-breakpoint-up(lg) {
            margin-top: -100px;
            
        }
    }


    .more-trip {
        margin-bottom: 50px;
        
        @include media-breakpoint-up(lg) {
            margin-bottom: 100px;
        }
    }
}

.trip {
    &__badges {
        display: flex;
        align-items: center;
        margin-bottom: 35px;        
        span {
            margin-right: 12px;
        }
    }

    &__slider {
        max-height: 350px;
        img {
            border-radius: 20px; 
        }

        .slick-list {
            position: relative;
            z-index: 0;
        }

        .slick-track {
            display: flex!important;

            .slick-slide  {
                height: 100%!important;
                max-height: 350px;
                object-fit: cover;
            }
        }
    }

    &__info {
        padding: 17px 17px 2px;   
        border-radius: 20px;
        margin-bottom: 25px;

        h3 {
            margin-bottom: 12px;
        }

        ul {
            padding-left: 0;
            list-style-type: none;
            li  {
                padding: 12px 0;
                border-bottom: 1px solid $gray-400;
            
                &:last-child {
                    border: none;
                }
            }
        }

        &--green {
            background-color: $green-light;

            h3 {
                i {
                    color: $green;
                    margin-left: 5px;
                }
            }
        }

        &--red {
            background-color: $red-light;

            h3 {
                i {
                    color: $red;
                    margin-left: 5px;
                }
            }
        }
    }
    &__desc {
        h3 {
            margin-top: 40px;
            margin-bottom: 14px;
        }
    }
}

.schhedule {
    padding: 0 40px;
    background-color: $gray-bg;
    border-radius: 20px;

    &__item {
        padding: 40px 0;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $gray-400;

        &:last-child {
            border: 0;
        }

        &--col {
            min-width: 120px;
            width: 22%;
            padding: 0 5px;

            h3 {
                margin: 0;
            }
            
            &.room {
                width: 28%;
            }

            &.price {
                width: 8%;
                text-align: center;
                min-width: 100px;
            }

            &.totrip {
                text-align: right;
                min-width: 130px;

            }
        }

        @include media-breakpoint-down(lg) { 
            flex-wrap: wrap;

            &--col {
                width: 50%!important;
                text-align: left!important;
            }
        }

        @include media-breakpoint-down(sm) { 
            padding: 20px 0;

            &--col {
                width: 100%!important;

            }
        }

    }
}

.include {
    @include media-breakpoint-down(sm) { 
        margin-bottom: 30px;
    }
    &__check {
        background-color: $green-light;
        border-radius: 8px;
        width: 58px;
        height: 58px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 12px;

        i {
            color: $green;
            font-size: 1.8rem;
        }
    }

    p {
        margin-bottom: 12px;
        font-size: 1.4rem;
    }
}

.categories {
    &__wrap {
        display: flex;
        
        a {
            display: block;
            margin: 12px;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}

.inspiration-detail {
    &__heading {
        width: 100%;
        height: 550px ;
        border-radius: 20px;
        position: relative;
        padding: 60px;

        .btn-small {
            margin-right: 15px ;
 
        }

        @include media-breakpoint-down(md) { 
            height: 350px;
            padding: 30px;
        }

        @include media-breakpoint-down(sm) { 
            height: auto;

            .d-flex {
                div {
                    margin-top: 100px;
                }
            }
        }

        @include media-breakpoint-down(xs) {  
            .d-flex {
                div {
                    margin-top: 50px;
                }
            }
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            object-fit: cover;
            z-index: 0;
            border-radius: 20px;
        }

        span {
            display: inline-block;
            align-self: flex-start;
        }
 
        h1 {
            color: $white;
            margin-bottom: 0;
            margin-top: 20px;
        }

        .d-flex {
            z-index: 2;
            position: relative;
            height: 100%;
            top: 0;
            bottom: 0;
        }
    }

    &__content {
        p {
            margin-bottom: 20px;
        }

        h2 {
            margin-bottom: 30px;
        }

        h3 {
            margin-bottom: 25px;
        }

        img {
            margin-bottom: 60px;
            margin-top: 40px;
        }
    }
}

.contact {
    &__info {
        margin-bottom: 40px;
        h4 {
            margin-bottom: 16px;
            color: $text;
        }

        p {
            margin-bottom: 6px;

            a {
                font-weight: 600;
            }
        }
        .icon {
            width: 58px;
            height: 58px;
            background-color: $blue-light;
            border-radius: 8px;   
            display: flex; 
            justify-content: center;
            align-items: center; 
            margin-bottom: 30px;
            
            i {
                font-size: 1.8rem;
                color: $blue;
            }
        }

        @include media-breakpoint-down(md) { 
            .icon {
                margin-bottom: 15px;
            }
            h4 {
                margin-bottom: 12px;
            }
        }
    }

    .write-us {
        &__map {

        }
    }
}